body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100vh;
            background-image:linear-gradient(lightgreen 25%,white ,grey);
        }

        .bod{
            border: 2px solid;
            display: flex;
            flex-direction: column;
            height: 500px;
            width: 300px;
            border-radius: 30px;
            padding: 10px;
            gap:10px;
            background-color: black;
        }

        .display{
            border: 2px solid;
            width: 100%;
            height: 20%;
            border-radius: 30px;
            border-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .in{
            width: 95%;
            height: 95%;
            border-radius: 29px;
            font-size: 2rem;
        }

        .buttons{
            border: 2px solid;
            width: 100%;
            height: 80%;
            border-radius: 30px;
            border-color: white;
        }

        .but{
            width: 32%;
            height: 20%;
            border-radius: 32px;
            font-size: 2rem;
        }